  .mat-table {
    color: #1a084c;
    /* width:'100%'; */
    /* width:1024px; */
    width : 1280px;
    height: 350px;
    overflow: auto;
    overflow-x: scroll;
  }
  
  
  .mat-header-row,
  .mat-header-cell-def {
    min-height: 25px;
    font-size: 15px !important;
    color: #1a084c;
    margin: 5px 0px;
    top: 0;
    position: sticky;
    z-index: 1;
    background-color: inherit;
  }
  .mat-header-cell{
    position: sticky;
  }
  .mat-header-row{
    margin: 0px;
  }

  .mat-cell,
  .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 10px;
    line-break: unset;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }
  .mat-row,
  .mat-header-row {
    display: table-row;
  }

   ::ng-deep .mat-sort-header-sorted {
    color: #3272d9; /*change color of header*/
}

::ng-deep .mat-sort-header-arrow {
  color: #3272d9; /*change color of arrow*/
}

.mat-elevation-z8 {
  box-shadow : none !important;
  /* width: 215%; */
}